################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Luma.Web/.next
/src/Luma.Web/node_modules
/src/Luma.Web/.cursorrules
